:root {
  --color-lightest: white;
  --color-light: #dbecec;
  --color-medium: #59afc7;
  --color-dark: #3e87b4;
}

body{
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  min-height: 66vh;
  display: grid;
  grid-template-columns: 30rem 50rem;
  column-gap: 4rem;
  align-items: start;
}

.sidebar ul {
  background-color: var(--color-light);
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  border-radius: 20px;
}

.sidebar li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  column-gap: 1.6rem;
  padding: 1.2rem;
  border-radius: 7px;
  transition: 0.5s;
}

.sidebar li img {
  border-radius: 50%;
  width: 100%;
  grid-row : span 2;
  grid-column : 1;
}

.sidebar li h3 {
  grid-row: 1;
  grid-column: 1;
}

.pWeight {
  grid-row: 2;
  grid-column: 2;
}

.pcR {
  grid-row: 3;
  grid-column: 2;
}

.sidebar li .button {
  grid-row: span 2;
  grid-column: 3;
}

.button {
  background-color: var(--color-medium);
  color: black;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--color-dark);
}

form {
  font-size: 1.2rem;
  display: grid;
  align-items: center;
  gap: 1.2rem;
  background-color: var(--color-light);
  border-radius: 20px;
}

.form-add-member {
  grid-template-columns: 2fr 1fr;
  margin-bottom: 1.6rem;
  padding: 1.2rem;
  font-size: 1.2rem;
}

input,
select {
  font-family: inherit;
  font-size: large;
  color: black;
  font-size: 1 rem;
  padding: 0.7rem;
  text-align: center;
  border: 1px solid var(--color-medium);
  border-radius: 4px;
  transition: 0.3s;
}

.sidebar > .button {
  margin-right: 1 rem;
  float: right;
  
}

input:focus,
select:focus {
  outline: none;
  border: 1px solid var(--color-dark);
}

form .button {
  margin-top: 0.6rem;
  grid-column: 2;
}

form h3 {
  grid-column: 1 / -1;
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  margin-bottom: 1.6rem;
}

.h3-king{
  grid-row: 1 !important;
  grid-column: 2 !important ;

}

.img-king {
  border-radius: 50%;
  width: 100%;
  grid-column : 1;
  grid-row-start: 2 !important;
  grid-row-end: 4 !important;
}

.crown{
  width: 50px !important;
  height: 50px !important;
  grid-row: 1 !important;
  grid-column: 1 !important;
  align-self: center;
  justify-self: center;
}